 

  /* ============================ */
 /********* Default CSS **********/
/*==============================*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: auto;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}

  /* ============================ */
 /********* Header CSS ***********/
/*==============================*/
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 1rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    width: 50px;
    height: 50px;
    display: block;
}
.input input[type="text"] {
    padding: 0.6rem 2rem;
    display: inline-block;
    border: 0.1rem solid #D8DADF;
    background: #D8DADF;
    border-radius: 2rem;
}
.input input[type="text"]::placeholder{
    color: #656781;
    padding-left: 15px;
}
.input i {
    position: absolute;
    top: 27px;
    left: 80px;
    color: #656781;
}
.input input[type="text"]:focus {
    box-shadow: 7px 7px 9px #000;
}
input[type="text"]:focus-visible {
    outline: none;
}
.menu-1 ul {
    display: flex;
    column-gap: 10px;
}
.menu-1 ul li {
    text-align: center;
    padding: 10px 30px;
    display: block;
    transition: .5s;
    z-index: 999;
}
.menu-1 ul li a {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.menu-1 ul li a i {
    color: #656781;
    font-size: 30px;
}
 
.street {
    color: #ddd;
    background: #000;
    border: 0.1rem solid #000;
    border-radius: 7px;
    font-size: 11px;
    position: absolute;
    top: 55px;
    padding: 6px;
    font-weight: 600;
    display: none;
}
.menu-1 ul li:hover{
    background: #D8DADF;
}
.menu-1 ul li:hover .street{
    display: block;
}
.menu-area {
    display: flex;
    justify-content: end;
}
.shakil a{
    display: flex;
    border: 0.1rem solid #DBE7F2;
    background: #F0F2F5;
    border-radius: 20px;
    align-items: center;
    width: 100px;
    margin-right: 20px;
    transition: .5s;
    cursor: pointer;
}
.shakil:hover a{
    background: #DBE7F2;
}
.shakil img {
    width: 40%;
    height: auto;
    display: block;
    padding: 3px 0 3px 4px;
}
.shakil p{
    color: #367CE7;
    font-weight: 500;
    font-size: 14px;
    margin-left: 7px;
}
.menu-2 ul {
    display: flex;
    column-gap: 10px;
}
.menu-2 ul li {
    text-align: center;
    z-index: 999;
}
.menu-2 ul li a {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 10px;
    background: #F0F2F5;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.menu-2 ul li a:hover{
    background: #DBE7F2;
}
.menu-2 ul li a:hover .street{
    display: block;
}
.menu-2 ul li a i {
    color: #000;
    font-size: 20px;
}
.rate {
    position: absolute;
    color: #fff;
    top: -7px;
    left: 26px;
    width: 20px;
    height: 18px;
    background: red;
    border-radius: 50%;
    font-size: 10px;
    line-height: 18px;
}

.shihab {
    border: 3px solid #656781;
    font-size: 1px;
    border-radius: 20px;
    width: 37px;
    height: 37px;
    position: relative;
}
i.fas.fa-users{
    font-size: 21px;
    position: absolute;
    left: 2px;
    top: 6px;
}
  /* ============================ */
 /********* Header CSS ***********/
/*==============================*/
.banner-area{
    background: linear-gradient(#433A29,#BCB9B2,#FFFFFF);
}
.banner {
    background: url(../images/2.jpg) no-repeat scroll 0 0 / cover;
    width: 100%;
    height: 500px;
    position: relative;
}
.camera {
    display: flex;
    border: 0.1rem solid #fff;
    padding: .8rem 1.5rem;
    width: 200px;
    border-radius: 12px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #fff;
    z-index: 1;
    transition: .3s;
}
.camera:hover{
    background: #ddd;
}
.camera i {
    margin-right: 10px;
}
.camera p{
    font-weight: 500;
}